<h1>Admin Dashboard</h1>
<div class="panel panel-default"> 
  <dl class="dl-horizontal">
    <br/>
    <dt>Product #:</dt> 
    <dd> <%= link_to @product_count, [:admin, :products] %></dd>
    <br/>
    <dt>Category #:</dt> 
    <dd><%= link_to @category_count, [:admin, :products] %></dd>
  </dl>
</div>